dash==3.1.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
packaging==25.0
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.3.8
plotly==6.2.0
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
python-dateutil==2.9.0.post0
pyzmq==27.0.0
referencing==0.36.2
requests==2.32.4
retrying==1.4.1
rpds-py==0.26.0
six==1.17.0
soupsieve==2.7
stack-data==0.6.3
tinycss2==1.4.0
traitlets==5.14.3
typing_extensions==4.14.1